<%- include ("./partials/header"); -%>
    <h1>Home</h1>
    <p><%= startingText %></p>
    <% for( let index = 0; index < posts.length; index++ ) { %>
        <% postTitle = posts[index].title %> 
        <% postBody = posts[index].body %> 
        <h1><%= postTitle %> </h1>
        <% if (postBody.length >= 100) { %>
            <p><%= postBody.substring(0, 100) + "..."; %><a href="/posts/<%= postTitle %> ">Read More</a> </p>
        <% } else { %>
            <p><%= postBody %> </p>
        <% } %> 
    <% } %>
<%- include ("./partials/footer"); -%>
